.baseContainer {
    display: flex;
    justify-content: space-between;
    height: 180px;
    width: 275px;
    user-select: none;

    .hidden {
        display: none;
    }

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 50px;

        .addVector {
            color: var(--vector);
            cursor: pointer;
        }        
        .addVector:hover {
            color: var(--hoverVector);
        }

        .textContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;

            h2 {
                margin: 0;
            }
            
            span {
                height: 20px;
                font-size: 14px;
                background: transparent;
                border: none;
                color: #676767;
                cursor: pointer;
                outline: 0;
                margin-top: 5px;
            
                &:hover {
                    color: #409fff;
                    border-bottom: .0625em solid #409fff;
                }
            }
        }
    }
    
    span {
        align-self: center;
    }

    .error {
        height: 20px;
        color: red;
        font-size: 14px;
        text-align: center;
    }

    .button {
        align-self: center;
        height: 60px;
        width: 240px;
        font-size: 18px;
        font-weight: 500;
    }
}