.baseContainer {
    display: flex;
    height: 450px;
    width: 720px;

    .header {  
        height: auto;
        display: flex;
        user-select: none;

    }

    .list {
        margin: 10px 0;
        height: 330px;
    }

    .pagination {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        user-select: none;

        .paginationButton{
            width: 100px;
            padding: 10px;
        }
    }
}