.tableHeader {
	display: table-header-group;
	background-color: #f4f4f4;
	font-weight: bold;

	div {
        display: table-cell;
        padding: 0.5rem;
        border-bottom: 2px solid #ccc;
	}
}
.extended {
	:first-child {
		width: 200px;
	}
	:nth-child(2) {
		width: 155px;
	}
}