:root {
	--htmlBackgroundColor: rgba(23,24,26,255);
	--baseCardBackground: #ffffff;
	--button: #babcbf;
}	

html {
	background-color: var(--htmlBackgroundColor);
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
